div {
    border-style: solid;
    width: 100px;
    height: 100px;

    border-radius: 10px;
    border: solid 5px red;
background-color: blue;
margin: 200px;
outline-style: solid;
outline: width 5px solid green;
outline-color: green;
outline-offset: 2px;



}


p{
    border-style: dashed;
}
span {
    border-style: dotted;
}