< {
    color: rgb(242, 250, 251);
    font-size: 20px;
    text-transform: capitalize;
}



body {
    background-color: rgb(167, 106, 15);
}

#first {
    text-align: center;
    color: rgb(26, 24, 25);
}

</style>