body {
/* 
    /* background-color: yellow;
    /* background-image: url("https://www.shutterstock.com/image-vector/blue-background-images-free-download-260nw-2352064533.jpg"); */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* background-position: top right;
background-attachment: scroll; */
/* background: no-repeat fixed cover url("https://www.shutterstock.com/image-vector/blue-background-images-free-download-260nw-2352064533.jpg"); */

    

/* }  */
div {
 height: 200px;
width: 200px;
background-color: blue;
opacity: 0.6;

}`